div.editable {
    width: 60vw;
    height: 60vh;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 5vh 20vw;
    padding: 30px;
}

div.editable>div.container>div.data>h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: black;
}

div.editable>div.container {
    background-color: white;
    overflow-y: scroll;
    height: 90%;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

div.editable>div.container>div.data>button {
    border: 0 solid;
    border-radius: 4px;
    margin: 4px;
    background-color: var(--background-secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: white;
    padding: 4px;
}

div.editable>div.container>div.data {
    display: flex;
    flex-direction: row;
}

div.editable>div.container>div.data>h3 {
    flex: 18;
    margin: 6px;
}

div.editable>div.container>div.data>button {
    flex: 1;
}