:root {
    --primary-color: #DCAC00;
    --secondary-color: #f3ce48;
    --background-primary: #111;
    --background-secondary: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
p,
strong,
li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

span {
    color: var(--primary-color)
}

/* Estilos universais para formularios */

form {
    width: 30vw;
    margin: 4vh 0;
    margin-left: 35vw;
    margin-right: 35vw;
    padding: 20px;
    /* color: white; */
    background-color: var(--primary-color);
    border-radius: 20px;
}

form>label,
form>fieldset>legend,
form>fieldset>label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin: 20px 0;
}

form>fieldset>legend {
    margin: 0;
}

form>h2 {
    margin: 2vh 0;
    color: black;
    font-weight: 500;
    font-size: 2em;
}

form>fieldset {
    height: 10vh;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px white solid;
}

form>input[type=submit] {
    border: none;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    padding: 14px;
    background-color: var(--background-secondary);
    color: white;
}

form>select {
    border: none;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    padding: 10px;
    background-color: var(--background-secondary);
    color: white;
    margin: 10px 0;
}

form>input[type=text],
form>input[type=password] {
    border: none;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding: 10px;
    width: 100%;
}

/* Barra de navegação */

nav.navigator>ul>li {
    display: inline-block;
    margin: 12px;
}

nav.navigator>ul>li>a {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

nav.navigator>ul>li>a:hover {
    color: grey;
    transition: color 1s;
}

nav.navigator>ul>li>a.active {
    color: var(--background-secondary);
    color: grey;
}
